* {
  box-sizing: border-box;
}

img {
  width:100%;
}

#header-nav {
  background-color: black;
}

.navbar-brand {
  color: white;
  font-family:'Courier New', Courier, monospace;
}

.navbar-brand:hover {
  color:#c7efcf;
}

#main-nav a{
  align-items: center;
  border-radius: 10px;
  padding: 5px 10px;
  text-decoration: none;
  background-color: white;
  color:black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

#main-nav a:hover {
  background-color: black;
  color:white;
  border: solid white 1px;
}

.home-header {
  font-size: 60px;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  background-color: #c7efcf
}

h3 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  
}

.author{
  font-style: italic;
}

#main-nav {
  column-gap: 1em;
  list-style-type: none; 
  margin: 5px;
}


.logout {
  align-items: center;
  border-radius: 10px;
  padding: 2.5px 10px;
  text-decoration: none;
  background-color: white;
  color:black;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  border-style: none;
}

.logout:hover {
  background-color: black;
  color:white;
  border: solid white 1px;
}

#secondary-nav {
  column-gap: 10em;
}

#secondary-nav a{
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

#secondary-nav a:hover {
  background-color: #c7efcf;
}


#secondary-full-bar {
  border-top: black solid 3px;
  border-bottom: black solid 3px;
}

.main-body {
  display: flex;
  margin: 2em;
  
}

.article-section {
  width: 75%;
  border: black solid 1px;
  padding: 2em;
}

.home-aside {
  width: 25%;
  height: 100%;
  border:black solid 1px;
  margin-left: 1em;
  background-color: #c7efcf;
  padding-bottom: 1em;
}

h4 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  margin: 1em;
  background-color: white;
  border: solid black 1px;
  padding: .5em;
}

.home-aside img {
  padding: 1em;
}

.home-aside div {
  display:flex;
  justify-content: center;
}

.home-aside a {
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  color: white;
  background-color: black;
  margin-bottom: 5px;
}

.home-aside a:hover {
  border: solid black 1px;
  color: black;
  background-color: white;
  font-family:'Courier New', Courier, monospace;
  font-weight: bold;
}

.my-article-section {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 80%;
}

.my-article {
  border:black solid 1px;
  padding: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.admin-article-section {
  display: flex;
  flex-direction: column;
  padding: 2em;
  width: 80%;
}

.register-form {
  border: solid black 1px;
  padding: 2em;
  background-color: #c7efcf;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#register-button {
  border: solid black 1px;
  background-color: white;
  font-weight: bold;
}

#register-button:hover {
  background-color: black;
  color: white;
}

.login-form {
  border: solid black 1px;
  padding: 2em;
  background-color: #c7efcf;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#login-button {
  border: solid black 1px;
  background-color: white;
  font-weight: bold;
}

#login-button:hover {
  background-color: black;
  color: white;
}


textarea {
  width: 100%;
}

.article-form label {
  margin-right: 5px;
}

.article-form {
  border: solid black 1px;
  padding: 2em;
  background-color: #c7efcf;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.article-form button {
  margin-right: 5px;
  border: solid black 1px;
  background-color: white;
  font-weight: bold;
}

.article-form button:hover {
  background-color: black;
  color: white;
}

.my-article button {
  margin-right: 5px;
  border: solid black 1px;
  background-color: white;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.my-article button:hover {
  background-color: #c7efcf
}


footer {
  background: black;
  color:white;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 1em;
  font-weight:600;
}
